.input__group {
  position: relative;
  padding: 15px 0 0;
  margin-left: 40px;
  /* margin-top: 10px; */
  /* width: 50%; */
  /* background-color: var(--primary-color); */
}

.input__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.input__field::placeholder {
  color: transparent;
}
.input__field:placeholder-shown ~ .input__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.95rem;
  color: #ffffff80;
}

/* .input__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: #fff;
  border-image-slice: 1;
} */
/* .input__field:focus ~ .input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
} */

/* reset input */
.input__field:required,
.input__field:invalid {
  box-shadow: none;
}

.icon-container {
  position: absolute;
}

.icon-container > svg {
  width: 29px;
  height: 29px;
}
